
<h1>About this location</h1>

<%= @location.name%><br>

<%= @location.address%><br>

<%= @location.description%><br>

<%= @location.picture%><br>

<!-- Rendering index page for testing -->
<%= render "reviews/index" %>

<!-- Rendering form user review on locations -->
<%= render "reviews/new" %>
