<h1><%= @my_project.name %></h1>

<ul>
<% @my_entries.each do |entry| %>
	<li>
		<%= entry.hours %> h
		<%= entry.minutes %> m -
		<%= entry.date %>
		<%= link_to "Edit", "/projects/#{@my_project.id}/ time_entries/#{entry.id}/edit" %>
		<!-- #add it so its in the loop -->
	</li>
<% end %>

</ul>